name: Terraform CD

on:
  push:
    branches:
      - dev
      - prod
    paths:
      - "terraform/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}   # prod requires approval

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform -chdir=terraform/${{ github.ref_name }} init

      - name: Terraform Apply
        run: terraform -chdir=terraform/${{ github.ref_name }} apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          