name: Terraform CI

on:
  pull_request:
    branches:
      - main
      - prod
    paths:
      - "terraform/**"
      - ".github/workflows/terraform-ci.yml"

jobs:
  terraform-ci:
    name: Terraform Validation
    runs-on: ubuntu-latest

    strategy:
      matrix:
        env: [dev, prod]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform FMT
        run: terraform fmt -check -recursive

      - name: Terraform Init
        run: terraform -chdir=terraform/${{ matrix.env }} init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Validate
        run: terraform -chdir=terraform/${{ matrix.env }} validate

      - name: Terraform Plan
        run: terraform -chdir=terraform/${{ matrix.env }} plan -no-color
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
