name: Terraform CD

on:
  push:
    branches: [dev]
  workflow_dispatch:

concurrency:
  group: terraform-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  terraform-apply:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    env:
      AWS_REGION: us-east-1
      PREFIX: jibin-own
      ENV: dev
      ECR_REPO_NAME: iot-simulator

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      #######################################
      # Build Lambda Artifact
      #######################################
      - name: Build Lambda Package
        run: |
          cd terraform/modules/iot_sns_lambda_alerts/lambda_src
          python -m pip install --upgrade pip
          mkdir -p build
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt -t build
          fi
          cp *.py build/
          cd build
          zip -r ../lambda.zip .

      #######################################
      # Login to ECR
      #######################################
      - name: Login to Amazon ECR
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws ecr get-login-password --region $AWS_REGION \
            | docker login \
              --username AWS \
              --password-stdin \
              ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.$AWS_REGION.amazonaws.com

      #######################################
      # Build & Push IoT Simulator Image
      #######################################
      - name: Build & Push IoT Simulator Image
        run: |
          IMAGE_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.$AWS_REGION.amazonaws.com/${PREFIX}-${ENV}-${ECR_REPO_NAME}:latest

          docker build -t iot-simulator .
          docker tag iot-simulator:latest $IMAGE_URI
          docker push $IMAGE_URI

      #######################################
      # Terraform
      #######################################
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: terraform -chdir=terraform/${{ github.ref_name }} init -reconfigure

      - name: Terraform Apply
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: terraform -chdir=terraform/${{ github.ref_name }} apply -auto-approve -input=false
