name: Terraform CD

on:
  push:
    branches: [dev]
  workflow_dispatch:

concurrency:
  group: terraform-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  terraform-apply:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    env:
      AWS_REGION: us-east-1
      PREFIX: jibin-own
      ENV: ${{ github.ref_name }}
      ECR_REPO_NAME: iot-simulator

    steps:
      #######################################
      # Checkout
      #######################################
      - name: Checkout
        uses: actions/checkout@v4

      #######################################
      # Configure AWS credentials
      #######################################
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      #######################################
      # Ensure ECR repository exists (CI-created)
      #######################################
      - name: Ensure ECR repository exists
        run: |
          FULL_REPO_NAME="${PREFIX}-${ENV}-${ECR_REPO_NAME}"

          aws ecr describe-repositories \
            --repository-names "$FULL_REPO_NAME" \
          || aws ecr create-repository \
            --repository-name "$FULL_REPO_NAME" \
            --image-scanning-configuration scanOnPush=true \
            --encryption-configuration encryptionType=AES256

      #######################################
      # Login to Amazon ECR
      #######################################
      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION \
            | docker login \
              --username AWS \
              --password-stdin \
              ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.$AWS_REGION.amazonaws.com

      #######################################
      # Build & Push IoT Simulator Image
      #######################################
      - name: Build & Push IoT Simulator Image
        env:
            AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
        run: |
          set -e

          IMAGE_TAG=${GITHUB_SHA::7}
          #IMAGE_URI="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${PREFIX}-${ENV}-${ECR_REPO_NAME}:latest"
          IMAGE_URI="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${PREFIX}-${ENV}-${ECR_REPO_NAME}:${IMAGE_TAG}"
          echo "Building image: $IMAGE_URI"

          docker build -t iot-simulator .
          docker tag iot-simulator:latest "$IMAGE_URI"
          docker push "$IMAGE_URI"

      #######################################
      # Build Lambda Artifact
      #######################################
      - name: Build Lambda Package
        run: |
          cd terraform/modules/iot_sns_lambda_alerts/lambda_src
          python -m pip install --upgrade pip
          mkdir -p build
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt -t build
          fi
          cp *.py build/
          cd build
          zip -r ../lambda.zip .

      #######################################
      # Terraform
      #######################################
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform -chdir=terraform/${{ github.ref_name }} init -reconfigure

      #- name: Terraform Apply
      #  run: terraform -chdir=terraform/${{ github.ref_name }} apply -auto-approve -input=false
      - name: Terraform Apply
        env:
          TF_VAR_image_tag: ${{ github.sha }}
        run: |
          terraform -chdir=terraform/${{ github.ref_name }} apply \
          -auto-approve \
          -input=false
