name: Terraform CI

on:
  pull_request:
    branches: [ main, prod ]
    paths:
      - "terraform/**"

jobs:
  terraform-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [dev, prod]

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2

      - name: Terraform FMT
        run: terraform fmt -check

      - name: Terraform Init
        run: terraform -chdir=terraform/${{ matrix.env }} init

      - name: Terraform Validate
        run: terraform -chdir=terraform/${{ matrix.env }} validate

      - name: Terraform Plan
        run: terraform -chdir=terraform/${{ matrix.env }} plan
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
