name: Terraform CD

on:
  push:
    branches:
      - dev
      - prod

jobs:
  terraform-apply:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}   # dev auto, prod can be gated in GitHub environments

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      #######################################
      # Step 1: Build Lambda ZIP automatically
      #######################################
      - name: Build Lambda Package
        run: |
          cd modules/iot_sns_lambda_alerts/lambda_src
          
          # Install dependencies if exist
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt -t .
          fi

          # Create zip package
          zip -r lambda.zip . -x "*.pyc"

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        
      - name: Terraform Init
        run: terraform -chdir=terraform/${{ github.ref_name }} init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Apply
        run: terraform -chdir=terraform/${{ github.ref_name }} apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
