name: Terraform CI

on:
  pull_request:
    paths:
      - "terraform/**"
  push:
    branches: [dev]
    paths:
      - "terraform/**"

permissions:
  contents: write

jobs:
  fmt:
    name: Terraform Format
    runs-on: ubuntu-latest
    if: github.actor != 'github-actions[bot]'
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6
      - run: terraform fmt -recursive
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(terraform): auto-format"
          file_pattern: terraform/**/*.tf

  validate-plan:
    name: Validate & Plan (No State)
    runs-on: ubuntu-latest
    needs: fmt

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform Init / Validate (dev & prod)
        run: |
          for env in dev prod; do
            terraform -chdir=terraform/$env init -backend=false
            terraform -chdir=terraform/$env validate
          done

      - name: Terraform Plan (dev, no lock)
        run: terraform -chdir=terraform/dev plan -lock=false -no-color
