name: Terraform CD

on:
  push:
    branches: [dev]
  workflow_dispatch:

concurrency:
  group: terraform-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  terraform-apply:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    env:
      AWS_REGION: us-east-1                  # adjust if needed
      PREFIX: jibin-own                     # must match Terraform var.prefix
      ENV: dev                              # github.ref_name = dev_
