name: Terraform CD

on:
  push:
    branches: [dev]
  workflow_dispatch:

concurrency:
  group: terraform-${{ github.ref_name }}
  cancel-in-progress: false

jobs:
  terraform-apply:
    name: Deploy Infrastructure
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}

    steps:
      - uses: actions/checkout@v4

      #######################################
      # Build Lambda Artifact
      #######################################
      - name: Build Lambda Package
        run: |
          cd terraform/modules/iot_sns_lambda_alerts/lambda_src
          python -m pip install --upgrade pip
          mkdir -p build
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt -t build
          fi
          cp *.py build/
          cd build
          zip -r ../lambda.zip .

      - uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform -chdir=terraform/${{ github.ref_name }} init -reconfigure
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Terraform Apply
        run: terraform -chdir=terraform/${{ github.ref_name }} apply -auto-approve -input=false
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
