name: Terraform CI

on:
  pull_request:
    paths:
      - "terraform/**"
  push:
    branches: [dev]
    paths:
      - "terraform/**"

permissions:
  contents: write

jobs:
  fmt:
    name: Terraform Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2
      - run: terraform fmt -recursive
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(terraform): auto-format"
          file_pattern: terraform/**/*.tf

  validate-plan:
    name: Validate & Plan (No State)
    runs-on: ubuntu-latest
    needs: fmt

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v2

      - name: Terraform Init (no backend)
        run: terraform -chdir=terraform/dev init -backend=false

      - name: Terraform Validate
        run: terraform -chdir=terraform/dev validate

      - name: Terraform Plan (no lock)
        run: terraform -chdir=terraform/dev plan -lock=false -no-color
